html {
  background-color: #282c34;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 30vh;
  justify-content: left;
  font-size: calc(12px + 2vmin);
  color: white;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 15px;
}

.square {
  color: #fff;
  background: #282c34;
  border: 2px solid rgb(4, 115, 37);
  float: left;
  font-size:40px;
  font-weight: bold;
    text-align: center;
  width: 20vh;
  height: 20vh;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  border-style: 1px solid rgb(243, 242, 242);
  margin-left: 20px;
  
}
button{
  border:rgb(115, 4, 85);
  background-color: rgb(67, 58, 64);
  color: #fff;
  
}
button:hover{
  background-color: rgb(251, 247, 250);
  color: rgb(0, 0, 0);
}
.history{
  background-color: rgb(67, 58, 64);
  border:rgb(115, 4, 85);
  margin: 1px;
  padding: 1px;
  width: 100px;
  border-radius: 10px;
}
.Header {
 float: left;
}

.TTT-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TTT-logo {
    animation: TTT-logo-spin infinite 20s linear;
  }
}

.TTT-header {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  color: white;
}

@keyframes TTT-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}